/* Root */
/* :root {

} */

* {
    box-sizing: border-box;
    image-rendering: pixelated;
    font-family: 'Roboto', sans-serif;
}
*[role="button"] {
    cursor: pointer;
}
body {
    margin: 0;
    background-color: black;
    color: white;
}
a { text-decoration: none; }
.heading_font {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
/* canvas {
    will-change: unset !important;
} */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh; width: 100vw;
    z-index: 600;
    pointer-events: none;
    overflow: hidden;
}
.overlay .item {
    position: absolute;
    pointer-events: all;
}
.top_left {
    top: 12px;
    left: 20px;
    width: 100%;
    max-width: 320px;
    /* display: flex; */
    /* outline: 2px solid red; */
}
.top_left input {
    width: 100%;
    padding: 10px 24px;
    border-radius: 12px;
    margin-top: 6px;
    font-size: 12pt;
}
#map_search_results {
    background-color: white;
    color: black;

    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 12px;
    margin-top: 6px;
    font-size: 12pt;
}
#map_search_results .result {
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 8px 24px;
}

.go_back {
    background:
        linear-gradient(90deg, rgb(39, 39, 39) 20%, transparent 100%),
        url("https://worlds.notkal.com/images/Finna SMP/2021-07-12_19.18.25.png");
    background-size: cover;

    
    color: rgb(206, 206, 206);
    text-decoration: none;
    background-color: black;
    border: 1px solid rgb(92, 92, 92);

    font-size: 17pt;

    padding: 10px 24px;
    border-radius: 12px;
}
.go_back:hover { color: white; }
.item.layer {
    top: 12px;
    right: 56px;
    background-color: white;
    color: black;
    padding: 10px 24px;
    border-radius: 12px;
}
.item.layer > div {
    margin: 9px 0;
    border-bottom: 1px solid gray;
}

#map {
    height: 100vh;
    width: 100vw;
    background-color: rgb(44, 44, 44);
}

#developer {
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    opacity: 0;
    transition: opacity 0.2s ease-out;
}
#developer:focus-within {
    opacity: 1;
}
/* #developer:target { display: unset; } */
#developer label {
    display: block;
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
}
#developer input {
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 16px black;
    border: 2px solid rgb(27, 91, 151);
    border-radius: 8px;
    font-size: 18pt;
    margin-right: 8px;
}
#developer input:focus {
    background-color: white;
    z-index: 601;
}


/* Leaflet JS */
.leaflet-tooltip {
    --stroke: #000;
    --tooltip-shadow: 3px 3px 6px black;

    /* Reset */
    background-color: unset;
    border: none;
    box-shadow: unset;
    text-align: center;
    line-height: 1.15rem;

    pointer-events: all !important;
}
.leaflet-tooltip span.no_border { text-shadow: 3px 3px 6px black; }
.leaflet-tooltip span {
    /* Styles */
    font-size: 24pt;
    font-weight: 500;
    color: white;
    text-shadow:
        var(--tooltip-shadow),
        -2px -2px 0 var(--stroke),
        0   -2px 0 var(--stroke),
        2px -2px 0 var(--stroke),
        2px  0   0 var(--stroke),
        2px  2px 0 var(--stroke),
        0    2px 0 var(--stroke),
        -2px  2px 0 var(--stroke),
        -2px  0   0 var(--stroke);

    transition: opacity 0.15s ease;
}
.leaflet-tooltip span.hidden {
    /* visibility: hidden !important; */
    opacity: 0;
}

/* Political map */
body.political .leaflet-tooltip span {
    color: black !important;
    --stroke: white !important;
    --tooltip-shadow: 0 0 0 black;
}
body.hide_labels .leaflet-pane.leaflet-tooltip-pane {
    visibility: hidden;
}
body.dot_labels .leaflet-tooltip {
    background-color: white;
    width: 16px; height: 16px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: var(--tooltip-shadow);
}
body.dot_labels .leaflet-tooltip span { display: none; }
body.dot_labels .leaflet-tooltip:hover span { display: unset; }


/* Mobile layout */
@media screen and (max-width: 800px) {
    body {
        padding: 0;
    }
    #developer {display: none;}
}
